doctype html
html
  head
      block head
        title='GoodEats'
        link(rel='icon' href='../images/faviconPizza.png' type='image/png')
        link(rel="stylesheet", href="/stylesheets/error.css")
        script(src='../javascripts/error.js' type='module' defer)
  body
    block content
      div(id='header__1')
        h1 Uh Oh! Something went wrong...
        form(action="/" method='get')
          button(type='submit' id='returnHome__button')  Return Home
      div(id='error__message')
        h2= message
      div(id='error__status')
        h3= error.status
      div(id='error__stack')
        pre #{error.stack}
