extends layout

append head

  script(src="/javascripts/cookbooks.js" type="module" defer)
    link(rel='stylesheet' href='/stylesheets/cookbooks.css')
meta(name='image' property='og:image' content='https://user-images.githubusercontent.com/71041585/113437875-4ebb2180-939c-11eb-9b6b-e5ad72f8e8d8.png')
        meta(name='description' property='og:description' content='This is a group project by Taten Knight, CB Barnes, Jesse Lindloff, and Jason Dunn for the App Academy full stack Online curriculum. A clone of GoodReads dedicated to culinary arts.')
  //- add page specific styles by appending to the head
  link(rel='stylesheet' href='/stylesheets/index.css')
  //- add page specific js
  script(src='/javascripts/index.js' type='module' defer)

block content
  h1= title
  p Welcome to your Project Skeleton
