doctype html
html
  head
      block head
        title='GoodEats'
        meta(name='image' property='og:image' content='https://user-images.githubusercontent.com/71041585/113437875-4ebb2180-939c-11eb-9b6b-e5ad72f8e8d8.png')
        meta(name='description' property='og:description' content='This is a group project by Taten Knight, CB Barnes, Jesse Lindloff, and Jason Dunn for the App Academy full stack Online curriculum. A clone of GoodReads dedicated to culinary arts.')
        link(rel='icon' href='../images/faviconPizza.png' type='image/png')
  body
    block content
