extends layout.pug
block content
    form(action='/users/signup' method='post' id='signupForm')
    input(type="hidden" name="_csrf" value=token)
    table
      thead
        tr
          th(colspan=2) Enter user information
      tbody
        tr
          td
            label(for='username') Username
          td
            input(type='username' name='Username' value=user.username placeholder='Enter your username')
        tr
          td
            label(for='email') Email
          td
            input(type='email' name='email' value=user.emailAddress placeholder='Enter your email')
        tr
          td
            label(for='password') Password
          td
            input(type='password' name='password' placeholder='Enter your password')
        tr
          td
            label(for='password') Confirmed Password
          td
            input(type='password' name='confirmedPassword' placeholder='Confirm password')
    div(class='signup')
        button(type='submit' class='signup-button') Signup
    
