body {
    background-image: url('../images/pexels-adonyi-gábor-1414651\ \(2\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.body-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 5px;
    max-height: 100px;
    justify-content: space-between;
    position: fixed;
}

.navbar-thirds {
    min-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-thirds-buttons {
    width: fit-content;
    min-width: 25%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;
}

#navbar-thirds-header {
    width: fit-content;
    min-width: 25%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .2);
    color: aliceblue;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    height: max-content;
    max-height: min-content;
    width: 35%;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 10px 5px 5px black;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}

.recipe-title {
    width: fit-content;
    text-align: center;
}

.card:hover .delete {
    display: block;
    width: fit-content;
    height: auto;
    font-size: 15px;
    padding: 2px;
    margin: 2px;
}

.delete {
    display: none;
    transition: all 1.5s ease-in-out;
}

.card h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 2px;
}

.card h4 {
    font-size: 20px;
    margin: 2px;
}

.card-header-button-holder {
    display: flex;
    width: fit-content;
    justify-content: center;
}

.hover-popout {
    transition: all .5s ease-in-out;
    text-decoration: none;
}

.hover-popout:hover {
    transform: scale(1.05);
    max-width: 100%;
}

.recipe-image-holder {
    max-width: 90%;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.recipe-holder {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 90%;
}

.recipe_image {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 5px;
    max-height: 80%;
}

.card_header {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
    font-weight: bold;
    top: 28%;
    right: 20%;
}

.card h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 2px;
    padding-top: 6px;
}

.recipe-flex {
    width: 100%;
    display: flex;
    width: 100%;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

button {
    width: 145px;
    margin: 20px;
    padding: 12px;
    height: 60px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid aliceblue;
    border-radius: 6px;
    font-size: 24px;
    text-align: center;
}

input,
button {
    outline: none;
}

h4 {
    font-size: 40px;
    margin: 10px;
}

img {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.logout-form-holder {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: fixed;
    top: 40%;
    right: 5%;
}

.logout-form {
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 10px 5px 5px black;
    font-size: 24px;
    height: fit-content;
    color: aliceblue;
}

.delete button {
    width: fit-content;
    height: fit-content;
    padding: 2px;
    margin: 2px;
}
