html {
    background-image: url('/images/pexels-photomix-company-518245.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input,
button {
    outline: none;
}

.dashboard-header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#title {
    font-size: 50px;
}

.website-title {
    display: flex;
    align-items: center;
    justify-content: row;
}

.dashboard-title {
    font-size: 50px;
    margin-right: 300px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    border-radius: 5px;
    max-height: 100px;
    position: fixed;
    top: 2%;
    right: 0%;

    /* display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    float: right;
    width: 30%;
    height: fit-content;
    border: 2px black solid;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    /* /* top: 100px;
    right: 0px; */
}
.navbar-thirds {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-thirds-buttons {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;
    min-width: 25%;
}

#navbar-thirds-header {
    min-width: 25%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .2);
    color: aliceblue;
    border-radius: 10px;
    width: fit-content;
}

button {
    width: 145px;
    margin: 20px;
    padding: 12px;
    height: 80px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid aliceblue;
    border-radius: 6px;
    font-size: 24px;
    text-align: center;
}

.logout-form-holder {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: fixed;
    top: 40%;
    right: 5%;
}

.hover-popout {
    transition: all .5s ease-in-out;
    /* transition-property: transform; */
    text-decoration: none;
}

.hover-popout:hover {
    transform: scale(1.05);
    max-width: 100%;
}

#logout-button {
    color: aliceblue;
}

.fas {
    display: flex;
    color: black;
    font-size: 4em;
}

.far {
    display: flex;
    color:black;
    font-size: 3em;
    margin-left: 10px;
}

.icon-caption {
    display: flex;
    align-content: center;
    font-size: large;
}

.column-holder {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.column_title {
    display: flex;
    justify-content: center;
}

/* .cookbook-column {
    position: fixed;
    width: 33%;
    left: 0px;
    height: 100vh;
} */

.recipe-library-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-right: 1px black solid;
    width: 50%;
    left: 0px;
}

.top-rated-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 50%;
    right: 0px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 10px 5px 5px black;
    margin: 20px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

a {
    color:aliceblue;
    text-decoration: none;
}

#recipe-id {
    visibility: hidden;
}

.hover {
    transition: all .2s ease-in-out;
}

.hover:hover {
    transform: scale(1.05);
}

.card_body {
    display: flex;
    margin: 2px;
    justify-content: center;
}

.card h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 2px;
}

img {
    border-radius: 20px;
    padding: 10px;
    height: auto;
}

.card_header {
    display: flex;
    justify-content: center;
}

.food_img {
    display: flex;
    height: 200px;
    width: auto;
    margin-top: -30px;
}

#logout-user-button {
    justify-self: flex-end;
}

.logout-button {
    color: black;
    justify-self: flex-end;
}
