.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    border: 2px black solid;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .2);
}

.column-holder {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.column {
    border-right: 1px black solid;
    width: 33%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    max-height: 400px;
    overflow: hidden;
    border: 2px red solid;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 10px 5px 5px black;
    margin: 20px;
    justify-content: flex-start;
    align-items: center;
}

.card h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 2px;
}

img {
    border-radius: 20px;
    padding: 10px;
    height: auto;
}

#logout-user-button {
    justify-self: flex-end;
}

.logout-button {
    color: black;
    justify-self: flex-end;
}