/* for the directions use numbers instead of bullet points */
/* do we want the same font for whole site or different for differnt pages */

.hidden {
    visibility: hidden;
}
.reviewCookbookWrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
