/* for the directions use numbers instead of bullet points */
/* do we want the same font for whole site or different for differnt pages */
body{
    text-decoration: none;
    background-image: url('../images/simona-sergi-k87kcKN-Vvs-unsplash.jpg');
    background-size: 2400px;
    background-attachment: scroll;
    background-origin: border-box;
    background-position: center;
    align-content: center;
}
.hidden {
    visibility: hidden;
}
.reviewCookbookWrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    margin: 20px;
    padding: 5px;
    height: 50px;
    width: 100px;
    color:burlywood;
    background-color: slateblue;
    border-radius: 6px;
}

h1, h2, h3 {
    color: springgreen;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.recipe__description,
.recipe__direction,
.recipe__ingredients {
    color: tan;
}
.recipe__reviews{
    max-width: 500px;
    border: 2px black;
}
.recipe__review--content{
    border-bottom: 1px solid rgba(46, 49, 49, 1);
    padding: 5px;
}
.reviewContent__name--andRating{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: flex-start;
    font-weight: bold;
    font-size: 20px;
    color:  cornsilk;
}

.list-stars{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;

}
.list-stars > li {
    float:left;
}
.reviewContent__the--content{
    display: flex;
    justify-content: center;
    border:.5px solid black;
    border-radius: .5em;
    background:rgba(103, 128, 159, 1);
    margin-bottom: 2px;
}
#review__content{
    padding: 10px;
}
.review__form{
    position:fixed;
    top: 40%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    transition: 0.5s ease-in;
}
#reviewForm{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 10px;
    border: 1px solid black;
    background: cornflowerblue;
}
.revContent{
    max-width: 275px;
}
#reviewForm .revContent:focus{
    background-color: darkgray;
}
#review__form--submit{
    cursor: pointer;
    margin-bottom: 10px;
    opacity: 0.8;
}
#review__form--submit:hover{
    opacity: 1;
}
