/* for the directions use numbers instead of bullet points */


/* do we want the same font for whole site or different for differnt pages */

body {
    text-decoration: none;
    background-image: url('../images/saltwoodgrain.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

#headings-wrap {
    padding: 5%;
    margin: auto;
    margin-bottom: 1%;
    border: .1px black;
    border-radius: .2em;
    max-width: 600px;
}

#title {
    font-size: 50px;
    font-weight: bold;
    backdrop-filter: blur(6px);
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
}

#recipe__avgRating--andstars {
    backdrop-filter: blur(6px);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.reviewCookbookWrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    max-width: 400px;
}

button {
    margin: 20px;
    padding: 5px;
    height: 50px;
    width: 100px;
    color: burlywood;
    background-color: slateblue;
    border-radius: 6px;
}

input,
button,
select,
option {
    outline: none;
}

h1,
h2,
h3 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-3 {
    padding: 10px;
    margin: 5px;
}

ol li {
    list-style: upper-roman;
    font-size: 25px;
    padding: 30px;
    line-height: 1em;
}

#recipeImg {
    max-width: 550px;
    max-height: 550px;
    display: flex;
    justify-content: center;
    padding: 5%;
    border-radius: 50px;
}

.recipe__description,
.recipe__directions,
.recipe__ingredients {
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(180, 180, 180);
    background-size: cover;
    backdrop-filter: blur(10px);
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.recipe__description {
    padding: 20px;
}

.recipe__directions {
    padding: 30px;
}

.recipe__ingredients {
    text-decoration: none;
    font-weight: bold;
    line-height: 50px;
}

.recipe__reviews {
    max-width: 500px;
    border: 5% black;
    margin-left: 20%;
}

.recipe__review--content {
    border-bottom: 1px solid rgba(46, 49, 49, 1);
    padding: 5px;
}

.reviewContent__name--andRating {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: flex-start;
    font-weight: bold;
    font-size: 25px;
    color: cornsilk;
    padding: 10px;
}

.userName_and_rating {
    margin-left: 5px;
}

#star {
    max-width: 18px;
    max-height: 18px;
}

.reviewContent__the--content {
    display: flex;
    justify-content: center;
    border: .5px solid black;
    border-radius: .5em;
    background: rgba(103, 128, 159, .5);
    margin: 5px;
}

#review__content {
    padding: 10px;
}

#editDelete__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
}

.delete {
    padding: 5px;
    margin: 5px;
}

.review__form {
    position: fixed;
    top: 40%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.5s ease-in;
}

#reviewForm {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5%;
    background: rgba(100, 149, 237, .8);
}

.revContent {
    max-width: 275px;
}

#reviewForm .revContent:focus {
    transition-delay: 1s;
    background-color: rgb(211, 211, 211);
}

#review__form--submit {
    cursor: pointer;
    margin-bottom: 10px;
    opacity: 0.8;
}

#review__form--submit:hover {
    opacity: 1;
}

#formReviewText {
    padding: 10px;
    margin: 10px;
}

.ratingSelector {
    padding: 5px;
    margin: 10px;
}

#review__form--submit {
    padding: 5px;
}

.addToCookbook__form {
    position: fixed;
    top: 40%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.5s ease-in;
}

#addToCookbookForm {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5%;
    background: rgba(100, 149, 237, .8);
}

.cookbookSelector {
    padding: 15px;
}

.addToCookBookLabel {
    font-weight: bold;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.book {
    padding: 5px;
    margin: 10px;
}

#submitToCookBook {
    padding: 5px;
    margin: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 5px;
    max-height: 100px;
    justify-content: space-between;
    position: fixed;
}

.navbar-thirds {
    min-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-thirds-buttons {
    width: fit-content;
    min-width: 25%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;
}


/* #navbar-thirds-header {
    width: fit-content;
    min-width: 25%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .2);
    color: aliceblue;
    border-radius: 10px;
} */

button {
    width: 145px;
    margin: 20px;
    padding: 12px;
    height: fit-content;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid aliceblue;
    border-radius: 6px;
    font-size: 24px;
    text-align: center;
    backdrop-filter: blur(10px);
}

input,
button {
    outline: none;
}

.logout-form-holder {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: fixed;
    top: 40%;
    right: 5%;
}

.logout-form {
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 10px 5px 5px black;
    font-size: 24px;
    height: fit-content;
    color: aliceblue;
}

.hover-popout {
    transition: all .5s ease-in-out;
    text-decoration: none;
    backdrop-filter: blur(10px);
}

.hover-popout:hover {
    transform: scale(1.05);
    max-width: 100%;
}