body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  a {
    color: orange;
  }

  * {
    box-sizing: border-box;
  }

  h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
  body, header, nav {
    font-size: 1rem;
    color: inherit;
    background-color: transparent;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: normal;
  }

  #header {
      display: flex;
      width: 100%;
      justify-content: center;
  }
  .splashImg {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
  }

  button {
    margin: 20px;
    padding: 12px;
    height: 60px;
    width: 110px;
    color:burlywood;
    background-color: red;
    border-radius: 6px;
    /* transition: all .5s ease-in-out; */


  }
  button:hover {
    transform:scale(1.25) ;
  }
#buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color:slategray;
}
.buttonDiv {
    display: flex;
    flex-direction: column;
    max-width: 120px;
    align-items: center;
}

.hidden {
  visibility: hidden;
}
